body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  text-transform: none;

  background-color: #849d8f;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

a {
  text-decoration: underline;
}

.button {
  color: #ffffff;
  text-decoration: none;
  background-color: #ec583c;
  background-image: linear-gradient(#f47c5c, #e34e3a);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.6);
  border-radius: 30px;
}

.button:hover,
.button:focus {
  background-color: #ef7761;
  background-image: none;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}

.button:active {
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.container {
  width: 1200px;
  margin: 0 auto;
}


/* ------- Header ------- */

.main-header-wrapper {
  width: 1146px;
  margin: 0 auto;
}

.main-header {
  margin-bottom: 270px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.main-header-logo {
  /* display: block;  чтоб картинка среагировала на размеры, тк она ссылка */
  width: 154px;
  height: 64px;
  margin-right: 23px;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  display: flex;
}

/* Both right & left lists of navigation  */
.site-navigation,
.client-navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.site-navigation {
  width: 676px;
  padding-top: 20px;
}

.site-navigation a,
.client-navigation-list a {
  color: #ffffff;
}

.site-navigation-item {
  margin-right: 30px;
}

.site-navigation-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.site-navigation-item-active .active {
  background-color: #d07058;
  padding: 8px 13px;
  border-radius: 20px;
  text-decoration: none;
}

/* Popup in header */
.site-subnavi-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.site-subnavi-list a {
  text-decoration: none;
  color: #000000;

  font-size: 14px;
  line-height: 16px;
}

/* Navigation on the right */
.client-navigation-wrapper {
  display: flex;
  flex-direction: column;
}

.client-navigation {
  margin-bottom: 18px;
  padding-top: 12px;
}

.client-navigation-list {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.client-navigation-list li > a {
  color: #ffffff;
  text-decoration: none
}

.client-navigation-item {
  position: relative;
  display: flex;
}

/* ------- Search popup ------- */

.header-search {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 50%;
  margin-right: 10px;
}

.header-search:hover,
.header-search:focus {
  background-color: #ffffff;
  opacity: 1;
}

.header-search:hover path,
.header-search:focus path {
  fill: #000000;
}

/* Popup itself */
.search-modal {
  display: none;
  position: absolute;
  z-index: 5;
  box-sizing: border-box;
  padding: 20px 15px;
  right: 10px;
  top: 36px;
  width: 342px;
  height: 84px;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-input-field {
  display: block;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 9px;
  border: 1px solid #d3d3d2;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.header-search:hover + .search-modal {
  display: block;
}


/* ------- Login popup ------- */

.header-login {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 6px 16px;
  margin-right: 10px;

  width: 92px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  vertical-align: middle;
  line-height: 32px;

}

.header-login-text {
  order: 1;
}

.header-login path {
  fill: #ffffff;
}

.header-login:hover,
.header-login:focus {
  background-color: #ffffff;
  opacity: 1;
  color: #000000;
}

.header-login:hover path {
  fill: #000000;
}

.header-login:hover + .login-modal {
  display: block;
}

/* Popup itself */
.login-modal {
  display: none;
  box-sizing: border-box;
  width: 278px;
  padding: 20px 19px;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

  position: absolute;
  content: "";
  top: 36px;
  right: 10px;
}

.client-navigation-input {
  display: block;
  width: 100%;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 9px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.login-modal-actions {
  display: flex;
  flex-wrap: nowrap;
}

.button-enter {
  width: 100px;
  box-sizing: border-box;
  padding: 10px 25px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-right: 19px;
}

.client-navigation-links {
  padding: 0;
  margin: 0;
}

.client-navigation-links a {
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

/* ------- Basket popup ------- */

.header-basket {
  box-sizing: border-box;
  /*width: 100px;*/
  height: 32px;
  padding: 6px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-basket-text {
  order: 1;
  margin-left: 8px;
}

.header-basket.basket-full {
  background-color: #f7f6f3;
  color: #000000;
}

.header-basket.basket-full:hover + .basket-container-full {
  display: block;
}

/* Full basket catalog.html */
.basket-container-full {
  display: none;

  position: absolute;
  content: "";
  top: 36px;
  right: 0;

  box-sizing: border-box;
  width: 538px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

/* table of basket items */
.basket-list {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  border: none;
  border-collapse: collapse;
}

.basket-list tbody {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #cacac7;
}

.basket-item {
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  margin-bottom: 20px;
}

.basket-cancel {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 14px;
}

.basket-cancel button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.basket-cancel::before {
  content: url("../img/cross-small.svg");
  width: 12px;
  height: 12px;
  display: inline-block;
  padding: 0;
}

.basket-pic {
  display: block;
  width: 33px;
  height: 33px;
  margin-right: 14px;
}

.basket-item-img {
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  overflow: hidden;
}

.basket-item-title {
  width: 218px;
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 30px;
}

.basket-quantity {
  width: 100px;
  margin-right: 23px;
}

.basket-quantity p,
.basket-price p {
  padding: 0;
  margin: 0;
}

.basket-quantity span {
  color: #999999;
}

.basket-full-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
  color: #000000;

  padding-top: 15px;
}

.button-submit-order {
  display: table;
  width: 170px;
  box-sizing: border-box;
  padding: 10px 15px;
  margin-left: auto;
}


/* Header: open hours & phone */
.header-info {
  text-align: right;
}

.opening-hours {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;

  display: block;
  margin-top: 0;
  margin-bottom: 4px;
}

.header-telephone {
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  display: block;
  margin: 0;
}


/* ------- Intro-slider ------- */


.intro-slider {
  margin-bottom: 38px;
}

.intro-slider h2 {
  font-size: 60px;
  line-height: 60px;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-item:nth-child(2),
.slider-item:last-child {
  display: none;
}

.slider-button {
  font-size: 32px;
  line-height: 44px;
  padding: 10px 40px;
  vertical-align: middle;

  display: block;
  width: 280px;
  height: 63px;
  box-sizing: border-box;
  margin: 0 auto;
}


/* ------- Breadcrumbs in catalog.html ------- */


.inner-main {
  width: 1146px;
  margin: 0 auto;
  margin-top: -20px;
}

.breadcrubms {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 6px;
}

.breadcrubms li {
  margin-right: 22px;
  position: relative;
}

.breadcrubms-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrubms li:last-child {
  margin-right: 0;
}

.breadcrubms li::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 8px;
  right: -14px;
  background-image: url("../img/breadcrumbs-dividers.png");
}

.breadcrubms-link.current {
  text-decoration: none;
}

.breadcrubms li:last-child::after {
  display: none;
}

/* ------- Announces ------- */


.announces {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.announce-raspberry,
.announce-chocolate {
  box-sizing: border-box;
  width: 560px;
  min-height: 230px;
  border-radius: 20px;
  padding: 18px;
}

.announce-raspberry {
  background-color: #c1002f;
  background: url("../img/bg-raspberry.jpg") no-repeat;
}

.announce-chocolate {

  background-color: #71452a;
  background: url("../img/bg-chocolate.jpg") no-repeat;
}

.announces h3 {
  font-size: 35px;
  line-height: 41px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 15px;
}

.announces p {
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 43px;
}

.announces-button {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 8px 21px 12px 22px;

  height: 46px;
}


/* ------- Offers ------- */


.offers {
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.offer-hits {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

/* ------- All pictures of ice ------- */
.offer-item {
  width: 267px;
  background-color: #849d8f;
  position: relative;
  padding-bottom: 35px;
}

.offer-item:hover {
  background-color: #9bafa3;
  /*box-shadow: rgba(0, 0, 0, 0.4); */
}

.offer-image-wrapper {
  width: 267px;
  height: 267px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 16px;
}

.offer-titel {
  text-align: center;
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.offers a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  display: block;
}

.offer-price {
  font-size: 45px;
  line-height: 45px;
  position: absolute;
  left: 0;
  top: 200px;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.offer-price span {
  font-size: 30px;
}


/* ------- Features ------- */


.features {
  box-sizing: border-box;
  background-image: url("../img/waffel.jpg");
  background-color: #efe3cb;
  border-radius: 20px;
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 18px;
}

.features h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  margin-top: 0;
  margin-bottom: 10px;
}

.features p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* ------- blog-newsletter ------- */


.blog-newsletter {
  display: flex;
  width: 1146px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-news,
.newsletter {
  width: 560px;
  min-height: 220px;
  border-radius: 10px;
}

.blog-news {
  box-sizing: border-box;
  background-color: #ffffff;
  background: url("../img/bg-strawberry.jpg") no-repeat;
  background-position: right;
  padding-top: 25px;
  padding-left: 18px;
}

.blog-news h3 {
  width: 288px;
}

.blog-newsletter h3 a {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.blog-newsletter b {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #000000;
}

.newsletter {
  box-sizing: border-box;
  background-color: #f8f7f4;
  background-image: url("../img/bg-post.svg");
  padding: 5px;
  height: auto;
}

.newsletter-wrapper {
  background-color: #f8f7f4;
  border-radius: 10px;
  padding-top: 32px;
  padding: 32px 20px;
}

.newsletter p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 36px;
}

.newsletter-form input {
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.newsletter-form input::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #d3d3d2;
}

.newsletter-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  padding: 13px 22px;
}


/* ------- map ------- */


.map {
  position: relative;
}

.map-image {
  width: 100%;
  height: 430px;
  display: block;
  overflow: hidden;
}

.address {
  background-color: #ffffff;
  color: #000000;
  width: 303px;
  height: 306px;
  border-radius: 10px;

  position: absolute;
  top: 60px;
  right: 27px;

  box-sizing: border-box;
  padding-top: 32px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
}

.address-map {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 23px;
}

.telephone {
  color: #000000;
  text-decoration: none;
  display: block;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.address-details {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  display: block;
}

.hours-map {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.button-feedback {
  box-sizing: border-box;
  padding: 11px 28px;
  display: block;
  width: 252px;
  height: 44px;
}

.feedback-form {
  display: none; /* временно скрою попап фидбека */
}


/* ------- filters of catalog.html ------- */


.filters {
  margin-bottom: 40px;
}

.filters h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 28px;
}

.filters fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.form-first-row,
.form-second-row {
  display: flex;
}

.form-head {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.sorting-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.fat-number {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.topping-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #a6b7ae;
  border: 2px solid #ffffff;
  padding: 7px 28px;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;
  background-color: #ffffff;
}

/* ------- offers-catalog of catalog.html ------- */


.offers-catalog {
  margin-bottom: 14px;
}


.offers-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1146px; /* временная ширина, она потом будет контейнером задаваться для всех элементов */
  justify-content: space-between;
}

/* ------- Pagination of catalog.html ------- */


.pagination {
  padding: 30px 0;
  border-bottom: 1px solid #a1b6ab;
}

.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.pagination-item {

  text-align: center;

}

.pagination-item a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;      /* for "vertical-align" functioning properly */
  vertical-align: middle;
  width: 27px;
  height: 26px;
  background-color: #849d8f;
  border-radius: 50%;
}

.pagination-item a:hover {
  background-color: #9db1a5;
}

.pagination-item .current {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item .disabled {
  color: #9db1a5;
}

/* ------- Footer ------- */


.main-footer {
  padding-top: 18px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.footer-social {
  margin-top: 18px;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 186px;
  justify-content: space-between;
}

.social-item {
  width: 32px;
  height: 32px;
  background-color: #e6ebe9;
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.impressum {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 18px;
}

.impressum a {
  color: #ffffff;
}

.impressum-docs {
  display: flex;
  width: 320px;
  flex-wrap: wrap;
}

.docs-left-column {
  margin-right: 30px;
}

.docs-left-column a,
.docs-right-column a {
  display: block;
}

.docs-left-column a:hover,
.docs-left-column a:focus,
.docs-left-column a:active,
.docs-right-column a:hover,
.docs-right-column a:focus,
.docs-right-column a:active {
  color: #ffbc9e;
}

.docs-left-column a:first-child {
  font-weight: 700;
}

.logo-academy-link {
  display: block;
  width: 108px;
  height: 40px;
  margin-bottom: 7px;
}

.copyright-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}

.copyright-text a {
  color: #ffffff;
}

/*
font-size: 16px;
line-height: 18px;
font-weight: 700;
 */
