body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  text-transform: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

a {
  text-decoration: underline;
}

.button {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.7);
  background-color: #ec583c;
  background-image: linear-gradient(#f47c5c, #e34e3a);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.6);
  border-radius: 30px;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ef7761;
  background-image: none;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}

.button:active {
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: inset 0 2px 2px 0 rgba(172, 16, 0, 1);
}

.site-wrapper {
  min-width: 1200px;
  margin: 0 auto;
  background-color: #849d8f;
  background-image: url("../img/intro-image01.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.container {
  width: 1200px;
  margin: 0 auto;
}


/* ------- wrapper for catalog.html ------- */

.catalog-wrapper {
  min-width: 1200px;
  margin: 0 auto;
  background-color: #849d8f;
}


/* ------- Header ------- */

.main-header-wrapper {
  width: 1146px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: flex-start;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: flex-start;
}

.main-header-logo {
  /* display: block;  чтоб картинка среагировала на размеры, тк она ссылка */
  width: 154px;
  height: 64px;
  margin-right: 23px;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  display: flex;
}

/* Both right & left lists of navigation  */
.site-navigation,
.client-navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction:row;
}

.site-navigation {
  width: 676px;
  padding-top: 20px;
  align-items: flex-start;
}

.site-navigation a,
.client-navigation-list a {
  color: #ffffff;
}

.site-navigation-item {
  position: relative;
}

.site-navigation-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  padding: 8px 13px;
  border-radius: 20px;
  background-color: transparent;
}

.site-navigation-item a:hover {
  background-color: #f7f6f3;
  padding: 8px 13px;
  border-radius: 20px;
  text-decoration: none;
  color: #000000;
}

.site-navigation-item-active .active {
  background-color: #d07058;
  padding: 8px 13px;
  border-radius: 20px;
  text-decoration: none;
}


.site-navigation-item:first-child a:hover + .site-subnavi-list {
  display: block;
}

/* Popup in header */
.site-subnavi-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 2;

  position: absolute;
  top: 32px;
  left: -7px;
  width: 143px;
  box-sizing: border-box;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.site-subnavi-list a {
  text-decoration: none;
  color: #000000;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  display: block;
  padding: 11px 20px 12px 20px;
}

.site-subnavi-item:last-child a {
  padding-bottom: 15px;
}

.site-subnavi-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.site-subnavi-item-new a {
  font-weight: 700;
}

.site-subnavi-item-new b {
  position: relative;
}

.site-subnavi-item-new b::after {
  position: absolute;
  content: "";
  top: 27px;
  left: -13px;
  width: 128px;
  height: 1px;
  background-color: #d1d0ce;
}

.site-subnavi-item:hover,
.site-subnavi-item:focus {
  background-color: #fbded8;
}

.site-subnavi-item:active {
  background-color: #f6b5a5;
}

.site-subnavi-item-active {
  background-color: #d07058;
}

.site-subnavi-item-active a {
  color: #ffffff;
}

.site-subnavi-item-active a:hover,
.site-subnavi-item-active a:focus {
  color: #000000;
}

/* Navigation on the right */
.client-navigation-wrapper {
  display: flex;
  flex-direction: column;
}

.client-navigation {
  margin-bottom: 18px;
  padding-top: 12px;
}

.client-navigation-list {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.client-navigation-list li > a {
  color: #ffffff;
  text-decoration: none
}

.client-navigation-item {
  position: relative;
  display: flex;
}

/* ------- Search popup ------- */

.header-search {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 50%;
  margin-right: 10px;
}

.header-search:hover,
.header-search:focus {
  background-color: #ffffff;
  opacity: 1;
}

.header-search:hover path,
.header-search:focus path {
  fill: #000000;
}

/* Popup itself */
.search-modal {
  display: none;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  padding: 20px 15px;
  right: 10px;
  top: 36px;
  width: 342px;
  height: 84px;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-input-field {
  display: block;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 9px;
  border: 1px solid #d3d3d2;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.header-search:hover + .search-modal {
  display: block;
}


/* ------- Login popup ------- */

.header-login {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 6px 16px;
  margin-right: 10px;

  width: 92px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  vertical-align: middle;
  line-height: 32px;

}

.header-login-text {
  order: 1;
}

.header-login path {
  fill: #ffffff;
}

.header-login:hover,
.header-login:focus {
  background-color: #ffffff;
  opacity: 1;
  color: #000000;
}

.header-login:hover path {
  fill: #000000;
}

.header-login:hover + .login-modal {
  display: block;
}

/* Popup itself */
.login-modal {
  display: none;
  box-sizing: border-box;
  width: 278px;
  padding: 20px 19px;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

  position: absolute;
  content: "";
  top: 36px;
  right: 10px;
}

.client-navigation-input {
  display: block;
  width: 100%;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 9px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.login-modal-actions {
  display: flex;
  flex-wrap: nowrap;
}

.button-enter {
  width: 100px;
  box-sizing: border-box;
  padding: 10px 25px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-right: 19px;
}

.client-navigation-links {
  padding: 0;
  margin: 0;
}

.client-navigation-links a {
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

/* ------- Basket popup ------- */

.header-basket {
  box-sizing: border-box;
  /*width: 100px;*/
  height: 32px;
  padding: 6px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-basket-text {
  order: 1;
  margin-left: 8px;
}

.header-basket.basket-full {
  background-color: #f7f6f3;
  color: #000000;
}

.header-basket.basket-full:hover + .basket-container-full {
  display: block;
}

/* Full basket catalog.html */
.basket-container-full {
  display: none;

  position: absolute;
  content: "";
  top: 36px;
  right: 0;

  box-sizing: border-box;
  width: 538px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

/* table of basket items */
.basket-list {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  border: none;
  border-collapse: collapse;
}

.basket-list tbody {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #cacac7;
}

.basket-item {
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  margin-bottom: 20px;
}

.basket-cancel {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 14px;
}

.basket-cancel button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.basket-cancel::before {
  content: url("../img/cross-small.svg");
  width: 12px;
  height: 12px;
  display: inline-block;
  padding: 0;
}

.basket-pic {
  display: block;
  width: 33px;
  height: 33px;
  margin-right: 14px;
}

.basket-item-img {
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  overflow: hidden;
}

.basket-item-title {
  width: 218px;
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 30px;
}

.basket-quantity {
  width: 100px;
  margin-right: 23px;
}

.basket-quantity p,
.basket-price p {
  padding: 0;
  margin: 0;
}

.basket-quantity span {
  color: #999999;
}

.basket-full-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
  color: #000000;

  padding-top: 15px;
}

.button-submit-order {
  display: table;
  width: 170px;
  box-sizing: border-box;
  padding: 10px 15px;
  margin-left: auto;
}


/* Header: open hours & phone */
.header-info {
  text-align: right;
}

.opening-hours {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;

  display: block;
  margin-top: 0;
  margin-bottom: 4px;
}

.header-telephone {
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  display: block;
  margin: 0;
}


/* ------- Intro-slider ------- */


.intro-slider {
  padding-top: 321px;
  text-align: center;
  margin-bottom: 38px;
  position: relative;
}

.intro-slider h2 {
  font-size: 60px;
  line-height: 60px;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 2;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-controls label:active {
  background-color: rgba(255, 255, 255, 1);
}

.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* all slides disappiar */
.slide {
  display: none;
}

.slider-button {
  font-size: 32px;
  line-height: 44px;
  padding: 10px 40px;
  vertical-align: middle;

  display: block;
  width: 280px;
  height: 63px;
  box-sizing: border-box;
  margin: 0 auto;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/intro-image01.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/intro-image02.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/intro-image03.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/* ------- Breadcrumbs in catalog.html ------- */


.inner-main {
  width: 1146px;
  margin: 0 auto;
  margin-top: -20px;
}

.breadcrubms {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 6px;
}

.breadcrubms li {
  margin-right: 22px;
  position: relative;
}

.breadcrubms-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrubms li:last-child {
  margin-right: 0;
}

.breadcrubms li::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 8px;
  right: -14px;
  background-image: url("../img/breadcrumbs-dividers.png");
}

.breadcrubms-link.current {
  text-decoration: none;
}

.breadcrubms li:last-child::after {
  display: none;
}

/* ------- Announces ------- */


.announces {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.announce-raspberry,
.announce-chocolate {
  box-sizing: border-box;
  width: 560px;
  min-height: 230px;
  border-radius: 20px;
  padding: 18px;
}

.announce-raspberry {
  background-color: #c1002f;
  background: url("../img/bg-raspberry.jpg") no-repeat;
}

.announce-chocolate {

  background-color: #71452a;
  background: url("../img/bg-chocolate.jpg") no-repeat;
}

.announces h3 {
  font-size: 35px;
  line-height: 41px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 15px;
}

.announces p {
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 43px;
}

.announces-button {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 8px 21px 12px 22px;

  height: 46px;
}


/* ------- Offers ------- */


.offers {
  width: 1146px;
  margin: 0 auto;
}

.offer-hits {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

/* ------- All pictures of ice ------- */
.offer-item {
  width: 267px;
  background-color: transparent;
  position: relative;
  margin-bottom: 33px;
  position: relative;
  text-align: center;
}

.offer-item::before {
  content: "";
  position: absolute;
  width: 62px;
  height: 62px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.offer-item::after {
  position: absolute;
  content: "";
  top: -6px;
  left: -13px;
  width: 293px;
  height: 406px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding-bottom: 20px;
  display: none;
  z-index: 2;
}

.offer-item:hover::after {
  display: block;
  cursor: pointer;
}

.offer-image-wrapper {
  width: 267px;
  height: 267px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 16px;
}

.offer-titel {
  text-align: center;
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.offers a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  display: block;
}

.offer-price {
  font-size: 45px;
  line-height: 45px;
  position: absolute;
  left: 0;
  top: 200px;
  z-index: 2;
  margin: 0;
  padding: 0;
}

.offer-price span {
  font-size: 30px;
}

.button-offer-wrapper {
  position: absolute;
  display: none;
  right: -6px;
  bottom: -72px;
  left: -6px;
  padding: 20px 0;
}

.offer-item:hover .button-offer-wrapper {
  display: block;
  z-index: 3;
}

.button-offer {
  margin: 0 auto;
  padding: 10px 18px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}


/* ------- Features ------- */


.features {
  box-sizing: border-box;
  background-image: url("../img/waffel.jpg");
  background-color: #efe3cb;
  border-radius: 20px;
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 18px;
}

.features h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  margin-top: 0;
  margin-bottom: 10px;
}

.features p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.features-left-column,
.features-right-column {
  width: 540px;
}

.features-item {
  padding-left: 56px;
}

.features-left-column .features-item,
.features-right-column .features-item {
  position: relative;
}

.features-left-column .features-item::before,
.features-right-column .features-item::before {
  position: absolute;
  content: "";
  top: -17px;
  left: 0;
  width: 49px;
  height: 49px;
  background-color: transparent;
}

.features-left-column .features-item:first-child::before {
  background-image: url("../img/ice-cream.svg");
}

.features-left-column .features-item:last-child::before {
  background-image: url("../img/eco.svg");
}

.features-right-column .features-item:first-child::before {
  background-image: url("../img/cow.svg");
}

.features-right-column .features-item:last-child::before {
  background-image: url("../img/thermometer.svg");
}

/* ------- blog-newsletter ------- */


.blog-newsletter {
  display: flex;
  width: 1146px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-news,
.newsletter {
  width: 560px;
  min-height: 220px;
  border-radius: 10px;
}

.blog-news {
  box-sizing: border-box;
  background-color: #ffffff;
  background: url("../img/bg-strawberry.jpg") no-repeat;
  background-position: right;
  padding-top: 25px;
  padding-left: 18px;
}

.blog-news h3 {
  width: 288px;
}

.blog-newsletter h3 a {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.blog-newsletter b {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #000000;
}

.newsletter {
  box-sizing: border-box;
  background-color: #f8f7f4;
  background-image: url("../img/bg-post.svg");
  padding: 5px;
  height: auto;
}

.newsletter-wrapper {
  background-color: #f8f7f4;
  border-radius: 10px;
  padding: 32px 20px;
}

.newsletter p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  margin: 0;
  margin-bottom: 38px;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
}

.newsletter-form input {
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 9px 13px;
  width: 370px;
}

.newsletter-form input::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #d3d3d2;
}

.newsletter-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  padding: 9px 19px;
}


/* ------- map ------- */


.map {
  position: relative;
}

.map-image {
  width: 100%;
  height: 430px;
  display: block;
  overflow: hidden;
}

.map::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 140px;
  top: 135px;
  left: 266px;
  background-image: url("../img/pin.svg");
}

.address {
  background-color: #ffffff;
  color: #000000;
  width: 303px;
  height: 306px;
  border-radius: 10px;

  position: absolute;
  top: 60px;
  right: 27px;

  box-sizing: border-box;
  padding-top: 32px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
}

.address-map {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 23px;
}

.telephone {
  color: #000000;
  text-decoration: none;
  display: block;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.address-details {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  display: block;
}

.hours-map {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.button-feedback {
  box-sizing: border-box;
  padding: 11px 28px;
  display: block;
  width: 252px;
  height: 44px;
}

.feedback-form {
  display: none; /* временно скрою попап фидбека */
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -235px;
  box-sizing: border-box;
  width: 477px;
  background-color: #f8f7f4;
  border-radius: 20px;
  padding: 18px 24px;
  z-index: 4;
}

.feedback-form input,
.feedback-form textarea {
  padding: 9px 14px;
  display: block;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.feedback-form input {
  width: 267px;
  box-sizing: border-box;
}

.feedback-form textarea {
  width: 100%;
  box-sizing: border-box;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.feedback-form-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
}

.button-feedback-submit {
  padding: 9px 24px;
  margin-left: auto;
}

.button-feedback-close {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.button-feedback-close::before,
.button-feedback-close::after {
  position: absolute;
  content: "";
  background-color: #000000;
  width: 19px;
  height: 2px;
  top: 9px;
  right: 1px;
}

.button-feedback-close::before {
  transform: rotate(45deg);
}

.button-feedback-close::after {
  transform: rotate(-45deg);
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
  display: none;
}


/* ------- filters of catalog.html ------- */


.filters {
  margin-bottom: 40px;
}

.filters h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
}

.filters fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.form-first-row,
.form-second-row {
  display: flex;
  margin-bottom: 16px;
}

.form-second-row {
  align-items: flex-end;
}

.form-head {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding-left: 16px;
  margin-bottom: 7px;
}

/* Filter "Сортировка" */

.form-sorting-wrapper {
  box-sizing: border-box;
  width: 193px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.form-sorting {
  box-sizing: border-box;
  min-width: 193px;
  min-height: 36px;
  padding: 0 16px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  background-image: url("../img/icon-down-dir.svg");
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 165px center;
  background-size: 20px 11px;
  outline: 0;
  -webkit-appearance: none;
}

.form-sorting:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
  background-image: url("../img/icon-down-dir-black.svg");
  border-radius: 20px;
  cursor: pointer;
}

.sorting-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

/* Filter "Цена" */

.form-price-wrapper {
  box-sizing: border-box;
  width: 220px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-top: 16px;
}

.range-controls {
  width: 176px;
  margin: 0 auto;
  position: relative;
}

.scale {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
}

.bar {
  width: 98px;
  height: 4px;
  background-color: #f8f7f4;
  position: absolute;
  left: 23px;
}

.range-toggle {
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  position: absolute;
  top: -8px;
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  border: 9px solid #ffffff;
}

.range-toggle-min {
  left: 13px;
}

.range-toggle-max {
  right: 45px;
}

/* Filter "Жирность" */

.filter-fat-wrapper {
  box-sizing: border-box;
  width: 415px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 7px 15px;
  font-size: 0;
}

.filter-fat-wrapper label {
  padding-left: 32px;
  position: relative;
  vertical-align: middle;
  margin-right: 16px;
  cursor: pointer;
}

.filter-fat-wrapper label::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-color: transparent;
  left: 0;
  top: -3px;
  background-image: url("../img/radio-off.svg");
}

.filter-fat-wrapper input[type="radio"]:checked + label::before {
  position: absolute;
  content: "";
  background-image: url("../img/radio-on.svg");
}

.filter-fat-wrapper label,
.filter-topping-wrapper label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  opacity: 0.8;
}

.filter-fat-wrapper label:hover,
.filter-fat-wrapper label:focus,
.filter-topping-wrapper label:hover,
.filter-topping-wrapper label:focus {
  opacity: 1;
}

.filter-fat-wrapper label:disabled,
.filter-topping-wrapper label:disabled {
  opacity: 0.4;
}

/* Filter "Наполнители" */

.filter-topping-wrapper {
  box-sizing: border-box;
  width: 702px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 7px 16px;
}

/* label для наполнителей */
.filter-topping-wrapper label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding-left: 32px;
  position: relative;
  margin-right: 18px;
  cursor: pointer;
}

.filter-topping-wrapper label:last-child {
  margin-right: 0;
}

.filter-topping-wrapper input[type="checkbox"] + label::before {
  position: absolute;
  content: "";

  top: -2px;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
}

.filter-topping-wrapper input[type="checkbox"]:checked + label::before {
  width: 27px;
  height: 23px;
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
}


/* Filter button */

.filter-button {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  width: 144px;
  height: 36px;
  background-color: #a6b7ae;
  border-radius: 30px;
  border: 2px solid #ffffff;
  padding: 7px 26px;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.filter-button:active {
  color: #000000;
  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px #696969;
}

/* ------- offers-catalog of catalog.html ------- */


.offers-catalog {
  margin-bottom: 14px;
}


.offers-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1146px; /* временная ширина, она потом будет контейнером задаваться для всех элементов */
  justify-content: space-between;
}

/* ------- Pagination of catalog.html ------- */


.pagination {
  padding: 30px 0;
  border-bottom: 1px solid #a1b6ab;
}

.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.pagination-item {

  text-align: center;

}

.pagination-item a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;      /* for "vertical-align" functioning properly */
  vertical-align: middle;
  width: 27px;
  height: 26px;
  background-color: #849d8f;
  border-radius: 50%;
}

.pagination-item a:hover {
  background-color: #9db1a5;
}

.pagination-item .current {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item .disabled {
  color: #9db1a5;
}

/* ------- Footer ------- */


.main-footer {
  padding-top: 18px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.footer-social {
  margin-top: 18px;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 186px;
  justify-content: space-between;
}

.social-item {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 3px solid #c2cec7;
  border-radius: 50%;
  opacity: 0.8;
}

.social-item:hover,
.social-item:focus {
  opacity: 1;
  cursor: pointer;
}

.social-item.twitter {
  background-image: url("../img/twitter.svg");
}

.social-item.instagram {
  background-image: url("../img/instagram.svg");
}

.social-item.facebook {
  background-image: url("../img/fb.svg");
}

.social-item.vkontakte {
  background-image: url("../img/vk.svg");
}

.impressum {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 18px;
}

.impressum a {
  color: #ffffff;
}

.impressum-docs {
  display: flex;
  width: 320px;
  flex-wrap: wrap;
}

.docs-left-column {
  margin-right: 30px;
}

.docs-left-column a,
.docs-right-column a {
  display: block;
}

.docs-left-column a:hover,
.docs-left-column a:focus,
.docs-left-column a:active,
.docs-right-column a:hover,
.docs-right-column a:focus,
.docs-right-column a:active {
  color: #ffbc9e;
}

.docs-left-column a:first-child {
  font-weight: 700;
  position: relative;
}

.docs-left-column a:first-child::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  top: 5px;
  left: -24px;
  background-image: url("../img/heart.svg");
}

.logo-academy-link {
  display: block;
  width: 108px;
  height: 40px;
  margin-bottom: 7px;
}

.copyright-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}

.copyright-text a {
  color: #ffffff;
}

.copyright-text a:hover {
  color: #ffbc9e;
}

/*
font-size: 16px;
line-height: 18px;
font-weight: 700;
 */
